<!DOCTYPE html>
<html lang="ES">
<head>
	<meta charset="UTF-8"/>
	<title>Nuevo Tezla Pepito</title>
	<link rel="stylesheet" href="../static/css/stylesheet.css"/>
	<link rel="stylesheet" href="../static/css/normalize.css"/>
	<script src="../static/js/prefixfree.min.js"></script>
	<script src="../static/js/jquery-2.1.1.js"></script>
	<script src="../static/js/codiguito.js"></script>
</head>
<body>
	<header>
		<hgroup>
				<h1>Nuevo Tezla Pepito</h1>
				<h2>Menos combustible, más semantica</h2>
		</hgroup>
	</header>
	<section>
		<article id="historia">
			<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>

			<p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand? </p>

			<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>

			<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>
		</article>
		<figure id="cochecito">
			<img src="../static/img/crojo.jpg" alt="Un Tezla Pepito"/>
			<figcaption>
				<h2>Tezla Pepito</h2>
				<ul>
					<li><strong>Color:</strong> Rojo</li>
					<li><strong>Techo:</strong> Mate</li>
					<li><strong>Llantas:</strong> Baratas</li>
				</ul>
			</figcaption>
		</figure>	
		<section id="personalizacion">
			<article id="color">
				<h2>Elige un Color</h2>
				<div id="amarillo">&nbsp;</div>
				<div id="azul">&nbsp;</div>
				<div id="blanco">&nbsp;</div>
				<div id="verde">&nbsp;</div>
				<div id="rojo">&nbsp;</div>
				<div id="negro">&nbsp;</div>
			</article>
			<article id="llantas">
				<h2>Que llantas quieres?</h2>
				<figure id="llanta1">
					<img src="../static/img/llanta1.png" alt="">
					<figcaption>Baratas</figcaption>
				</figure>
				<figure id="llanta2">
					<img src="../static/img/llanta2.png" alt="">
					<figcaption>Caras</figcaption>
				</figure>
			</article>
			<article id="techo">
				<h2>Tipo de techo?</h2>
				<figure id="techo1">
					<img src="../static/img/techo1.png" alt="">
					<figcaption>Mate</figcaption>
				</figure>
				<figure id="techo2">
					<img src="../static/img/techo2.png" alt="">
					<figcaption>Transparente</figcaption>
				</figure>
			</article>
		</section>
	</section>
	<nav>
		<ul>
			<li><a href="#" id="personalizar">Personalizar</a></li>
			<li><a href="#">Comprar</a></li>
			<li><a href="#">Contactar</a></li>
		</ul>
	</nav>
</body>
</html>